body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    margin: 8px;
}

h1 {
    text-transform: uppercase;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
